/* Main Hero Styles
/* Developer: Ivan Baena
*/
.mainHero-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;

  .mainHeroContainer {
    width: 100%;
    height: 100%;

    .mainHeroWrapper {
      transform: translate3d(0px, 0px, 0px) !important;

      .swiper-slide.mainHeroSlide {
        text-align: center;
        font-size: 32px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        position: absolute;
      }

      .mainHeroSlide {
        transform: translate3d(0, 100%, 0);
        transition-duration: 1s;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-delay: 0s;
      }

      .animate-up {
        transform: translate3d(0, 0%, 0) scale(1) !important;
      }

      .stay {
        position: absolute;
        top: 0;
        left: 0;
      }

      .zdown {
        visibility: hidden;
      }
    }

    .mainHeroPagination {
      span {
        margin: 10px 0;
        display: block;
        border-radius: 0 !important;
        height: 4em;
      }
    }
  }
}
