/* Feed Masonry Styles
/* Developer: Ivan Baena
*/
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.hideme {
  opacity: 0;
  position: relative;
  top: 80px;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  transition: all 800ms ease-in-out;
}

.feed-container:nth-child(1) .feed-wrapper:nth-child(1) {
  opacity: 1 !important;
  top: 0 !important;
}

body {
  transform: translate3d(0px, 0px, 0px);
  transition: all 700ms ease;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.feed-container:nth-of-type(even) .feed-wrapper {
  flex-flow: row-reverse wrap;
}

.feed-container {
  h3 {
    margin: 0;
  }
  width: 100%;
  height: auto;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;

  .feed-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: lightblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    .one-one-50 {
      width: 50%;
      height: 100%;

      .feed-tile {
        height: 100%;

        .content-wrapper {
          height: 546px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
        }
      }
    }

    .two-two-50 {
      width: 50%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;

      .feed-tile {
        height: 100%;
        width: 50%;

        .content-wrapper {
          height: 273px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          flex-flow: row wrap;

          h3 {
            font-size: 13px;
            width: 100%;
            text-align: center;
          }

          .content-quote {
            width: 100%;
            font-size: 11px;
            padding: 1em 2em;
            text-align: center;
            position: relative;
          }

          .content-quote:before {
            content: '';
            position: absolute;
            width: 20%;
            height: 3px;
            background: #444;
            top: -.5em;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }

    .feed-tile.arrow_box:nth-child(3) {
      .content-wrapper {
        .content-quote:before {
          content: '';
          position: absolute;
          width: 20%;
          height: 0px;
          background: blue;
          top: -.5em;
        }
      }
    }
    .feed-tile.arrow_box:nth-child(2) {
      .content-wrapper {
        .content-quote:before {
          content: '';
          position: absolute;
          width: 20%;
          height: 0px;
          background: blue;
          top: -.5em;
        }
      }
    }

    .feed-tile:nth-child(1) {}
  }
}
